main section {
    width: 75vw;
    max-width: 350px;
}

main h2 {
    width: 100%
}

main h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}

main h4 {
    font-size: 1rem;
    text-align: center;
}

main ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.where:last-child {
    margin-top: 0;
}

.address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

main .address p {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.where iframe {
    height: 15rem;
    width: 100%;
    border: 1px solid var(--dk-pink);
    box-shadow: 2px 2px 5px 1px var(--dk-burgundy);
    margin: .5rem 0;
}

.what {
    font-weight: bold;
}

.what li {
    margin-bottom: 1rem;

}

.what li p {
    margin: 0;
    font-weight: normal;
}

@media screen and (min-width: 700px) {

    main section {
        width: 75vw;
        max-width: 450px;
    }

    h3 {
        width: 100%;
    }

    .when h4 {
        width: 100%;
        text-align: center;
    }

    .when ul {
        width: 100%;
    }

    .address {
        width: 100%;
        text-align: center;
    }

}